<div class="main-card">
    <p-card [style]="{ width: '600px' }">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="card-image">
                <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="100%"></p-image>
            </div>
            <div class="card-info">
                <div class="username">
                    <label for="username">Ady we familiýasy</label>
                    <input pInputText id="username" />
                </div>
                <div class="role">
                    <label for="role">Wezipesi</label>
                    <input pInputText id="role" />
                </div>
                <div class="time">
                    <label for="time">Gelen wagty</label>
                    <input pInputText id="time" />
                </div>
            </div>
        </div>

        <div class="card-footer">
            <span class="p-float-label">
                <input pInputText id="ID" />
                <label for="ID">ID</label>
            </span>
            <p-button class="bellenmek" label="Bellenmek"></p-button>
            <p-button class="hasabat" label="Hasabat"></p-button>
        </div>
    </p-card>
</div>