<div class="main-card">
    <p-card class="pcard" [style]="{ width: '800px' }">
        <div class="card-header">
            <h3>Elektron Sanaw</h3>
        </div>
        <div class="card-body">
            <div class="card-image">
                <img [src]="photo" alt="placeholder" width="100px" />
            </div>
            <div class="card-info">
                <form>
                    <div class="username">
                        <label for="username">Ady we familiýasy</label>
                        <input pInputText #username id="username" disabled />
                    </div>
                    <div class="role">
                        <label for="role">Wezipesi</label>
                        <input pInputText #role id="role" disabled/>
                    </div>
                    <div class="time">
                        <label for="time">Gelen wagty</label>
                        <input pInputText #time id="time" disabled/>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-footer">
            <span class="p-float-label">
                <input pInputText #ID id="ID" />
                <label for="ID">ID</label>
            </span>
            <input type="button" (click)="check()" pRipple class="btn btn-primary" value="Bellenmek" />
            <input type="button" (click)="loginReset()" [routerLink]="['/summary']" routerLinkActive="router-link-active" pRipple class="btn btn-success" value="Hasabat" />
        </div>
    </p-card>
</div>

<p-dialog header="" [(visible)]="visible" [modal]="true" [style]="{width: '300px'}">
    <h4>
        {{ notification }}
    </h4>
</p-dialog>